<section class="nga-gradient text-white">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <div class="text-center">
          <h1 class="mt-2 display-4 fw-bold" style="color: black">
            "Welcome your visitors hassle-free."
          </h1>

          <h2 class="h1"></h2>

          <hr />

          <h2 class="h5 mt-4"></h2>

          <h2 class="h5"></h2>

          <h2 class="h5"></h2>

          <div class="col-lg-12 mx-auto mt-4">
            <h2 style="color: black">WelcomeTrack</h2>
          </div>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-1 p-0">
        <div class="position-lg-absolute top-0 left-0 overflow-hidden">
          <img
            src="https://cdn.dribbble.com/users/992274/screenshots/7269279/media/d3bf34d09e3197879da2df5a0a9aae63.png"
            width="360"
            height="250"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="one">
  <div class="container px-4 py-5">
    <h2 class="display-6 fw-bold pb-2 text-center">Our Services</h2>

    <hr />

    <div class="row g-4 py-2 row-cols-1 row-cols-md-2 row-cols-lg-4">
      <div class="col">
        <div class="nga-card-step p-4">
          <a routerLink="/new-guest">
            <i class="fa-solid fa-add"></i>

            <h3 class="h6 fw-bold">New Guest</h3>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="nga-card-step p-4">
          <a routerLink="/guest-list">
            <i class="fa-solid fa-list"></i>

            <h3 class="h6 fw-bold">Guest-list</h3>
          </a>
        </div>
      </div>

      
    </div>
  </div>
</div>
