<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>

          <h6>Please enter Email and Password!!</h6>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >

            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />

            <span *ngIf="email && email.invalid && email.touched"
              >Required!!</span
            >

            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >

            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />

            <span *ngIf="password && password.invalid && password.touched"
              >Required!!</span
            >
          </div>

          <button
            [disabled]="loginForm.invalid"
            type="submit"
            class="btn btn-primary mt-2"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
