<div class="about">
  <div class="container-fluid">
    <div>
      <carousel [images]="images"> </carousel>
    </div>
    <div class="about-content">
      <h2 class="h2 section-title">
        Safe and secure <span class="span">visitor management</span>
      </h2>

      <p class="section-text">
        Our system is designed to help you streamline the visitor check-in
        process, enhance security, and improve overall visitor experience.
      </p>

      <ul class="about-list">
        <li class="about-item">
          <span class="span">Paperless Records for Visitors and Host</span>
        </li>

        <li class="about-item">
          <span class="span"
            >Instant access to ALL guest/host historical records at guest
            check-in.</span
          >
        </li>

        <li class="about-item">
          <span class="span"
            >Store and Access millions of records instantly.</span
          >
        </li>

        <li class="about-item">
          <span class="span"
            >One App for multiple platforms (iOS, Android, Desktop, Cloud
            etc.)</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
